In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 999)
import matplotlib.pyplot as plt
%matplotlib inline

data_dir = 'C:\\Users\\watson\\Documents\\GitHub\\data_discovery_project\\datasets\\'
f_encoding = 'ISO-8859-1'

In [65]:
import math #math.isna()

# Links for the Related Data Sets

In [ ]:
# Rooftop Drinking Water Tank Inspection Results
rooftop_water = 'https://data.cityofnewyork.us/resource/gjm4-k24g.json'
# roof_df = pd.read_json(rooftop_water)
rooftop_water_local = data_dir + 'rooftop_water.csv'
roof_df = pd.read_csv(rooftop_water_local, encoding = f_encoding)
roof_df.head()

In [ ]:
roof_df.shape

In [ ]:
roof_df['batch_date_dt'] = pd.to_datetime(roof_df['batch_date'])

In [ ]:
roof_df['batch_date_dt'].dt.year.unique()

In [ ]:
# Drinking Water Quality Distribution Monitoring Data
water_quality = 'https://data.cityofnewyork.us/resource/bkwf-xfky.json'
qual_df = pd.read_json(water_quality)
qual_df.head()

In [ ]:
pd.to_datetime(qual_df['sample_date']).dt.year.unique()

In [ ]:
# NYC Parks Drinking Fountains
park_fountain = 'https://data.cityofnewyork.us/resource/bevm-apmm.json'
park_df = pd.read_json(park_fountain)
park_df.head()

In [ ]:
park_df['year'] = pd.to_datetime(park_df['collection']).dt.year

In [ ]:
park_df.loc[(park_df['year']==1899)]

In [ ]:
# Natural Gas Consumption by ZIP Code - 2010
gas_usage_2010 = 'https://data.cityofnewyork.us/resource/uedp-fegm.json'
gus10_df = pd.read_json(gas_usage_2010)
gus10_df.head()

In [ ]:
# Public Recycling Bins - and their Locations
bin_locations = 'https://data.cityofnewyork.us/resource/sxx4-xhzg.json'
bins_df = pd.read_json(bin_locations)
bins_df.head()

In [ ]:
# 2015 Street Tree Census - Tree Data
tree_locations = 'https://data.cityofnewyork.us/resource/uvpi-gqnh.json'
tree_df = pd.read_json(tree_locations)
tree_df.head()

In [ ]:
pd.to_datetime(tree_df['created_at']).dt.year.unique()

In [ ]:
# NYC Urban Tree Canopy Assessment Metrics 2010
tree_canopy = ''
# No API link, have to download locally
## https://data.cityofnewyork.us/Environment/NYC-Urban-Tree-Canopy-Assessment-Metrics-2010/hnxz-kkn5

In [ ]:
# Inventory of New York City Greenhouse Gas Emissions - City Government GHG Emissions Summary (2016)
greenhouse_gas = 'https://data.cityofnewyork.us/resource/jat2-irw9.json'
gas_df = pd.read_json(greenhouse_gas)
gas_df.head()

In [ ]:
# Inventory of New York City Greenhouse Gas Emissions - Fuel Emission Factors (2016)
fuel_emission = 'https://data.cityofnewyork.us/resource/9jf7-zn7b.json'
fuel_df = pd.read_json(fuel_emission)
fuel_df.head()

In [ ]:
# Inventory of New York City Greenhouse Gas Emissions - Citywide GHG Emissions Summary (2016)
ghg_emissions = 'https://data.cityofnewyork.us/resource/k3e2-emsq.json'
ghge_df = pd.read_json(ghg_emissions)
ghge_df.head()

In [ ]:
# DSNY Graffitti Trafficking
graffitti = 'https://data.cityofnewyork.us/resource/gpwd-npar.json'
graf_df = pd.read_json(graffitti)
graf_df.head()

In [ ]:
pd.to_datetime(graf_df['created_date']).dt.year.unique()

In [ ]:
# NYC Dog Licensing Data Set
dog_licensing = 'https://data.cityofnewyork.us/resource/nu7n-tubp.json'
dogL_df = pd.read_json(dog_licensing)
dogL_df.head()

In [ ]:
pd.to_datetime(dogL_df['licenseissueddate']).dt.year.unique()

In [ ]:
sorted(dogL_df['animalbirth'].unique())

In [ ]:
# Historical Hourly Weather Data 2012-2017
# No link --> KAGGLE DOWNLOAD

In [ ]:
# NYC Municipal Building Energy Benchmarking Results
municipal_benchmarks = 'https://data.cityofnewyork.us/resource/vvj6-d5qx.json'
munb_df = pd.read_json(municipal_benchmarks)
munb_df.head()

In [ ]:
munb_df.shape

In [ ]:
# NYC Municipal Building Energy Benchmarking Results (2014)
municipal_benchmarks_2014 = 'https://data.cityofnewyork.us/resource/hpid-63r5.json'
mb14_df = pd.read_json(municipal_benchmarks_2014)
mb14_df.head()

In [ ]:
# Air Quality Testing at Saratoga Village
saratoga_air = 'https://data.cityofnewyork.us/resource/dsyc-npkh.json'
sara_df = pd.read_json(saratoga_air)
sara_df.head()

In [ ]:
pd.to_datetime(sara_df['date']).dt.year.unique()

In [ ]:
sara_df.notna()

In [ ]:
# Air Quality
air_quality = 'https://data.cityofnewyork.us/resource/c3uy-2p5r.json'
# airQ_df = pd.read_json(air_quality)
air_quality_local = 'C:\\Users\\watson\\Documents\\GitHub\\data_discovery_project\\datasets\\air_quality.csv'
airQ_df = pd.read_csv(air_quality_local, encoding = "ISO-8859-1")
airQ_df.head()

In [ ]:
airQ_df.dtypes

In [ ]:
airQ_df['year'] = airQ_df['year_description'].astype(int)

In [ ]:
airQ_df.loc[(airQ_df['year_description']=='2013')]

In [ ]:
airQ_df.loc[(airQ_df['year_description'].isin(['2005', '2013']))]

In [ ]:
(airQ_df['year_description']).unique()

In [ ]:
airQ_df.isna().any()

In [ ]:
sorted(airQ_df['data_valuemessage'])[2500:]

In [ ]:
# Clean Air Survey Content (2009)
# NO LINK --> ZIP FILE

## Using Yearly Data to find Relationships of Trends

In [ ]:
sets_string = '''
Water Consumption In The New York City
    1979 - 2018
    cons_df
    https://data.cityofnewyork.us/Health/Rooftop-Drinking-Water-Tank-Inspection-Results/gjm4-k24g
Inventory of Greenhouse Gas Emissions Electricity Emission Factors 
    2005 - 2016
    gasyearly_df
    https://data.cityofnewyork.us/Environment/Inventory-of-New-York-City-Greenhouse-Gas-Emission/w5he-u64t
Inventory of New York City Greenhouse Gas Emissions - Con Edison District Steam Emission Factors 
    2005 - 2016
    coned_df
    https://data.cityofnewyork.us/Environment/Inventory-of-New-York-City-Greenhouse-Gas-Emission/ismp-xffj
Inventory of New York City Greenhouse Gas Emissions - Heating And Cooling Degree Days 
    2004 - 2016
    heatcool_df
    https://data.cityofnewyork.us/Environment/Inventory-of-New-York-City-Greenhouse-Gas-Emission/av3y-hmjv
DOHMH Indoor Environmental Complaints
    2010 - 2015
    incs_df
    https://data.cityofnewyork.us/Health/DOHMH-Indoor-Environmental-Complaints/9jgj-bmct
Community Health Survey
    2010 - 2014
    hel1_df
    https://data.cityofnewyork.us/Health/Community-Health-Survey/2r9r-m6j4
DOHMH Community Health Survey (2010-2016)
    2010 - 2016
    hel2_df
    https://data.cityofnewyork.us/Health/DOHMH-Community-Health-Survey-2010-2016-/csut-3wpr
DSNY Monthly Tonnage Data
    1990 - 2019
    tons_df
    https://data.cityofnewyork.us/City-Government/DSNY-Monthly-Tonnage-Data/ebb7-mvp5
'''

In [2]:
# Water Consumption In The New York City
water_consumption = 'https://data.cityofnewyork.us/resource/ia2d-e54m.json'
cons_df = pd.read_json(water_consumption)
cons_df.head()

,new_york_city_population,nyc_consumption_million_gallons_per_day,per_capita_gallons_per_person_per_day,year
0,7102100.0,1512.0,213,1979
1,7071639.0,1506.0,213,1980
2,7089241.0,1309.0,185,1981
3,7109105.0,1382.0,194,1982
4,7181224.0,1424.0,198,1983

In [3]:
cons_df.shape

(40, 4)

In [4]:
for year in sorted(cons_df['year']):
    print(year, end='\t')

1979	1980	1981	1982	1983	1984	1985	1986	1987	1988	1989	1990	1991	1992	1993	1994	1995	1996	1997	1998	1999	2000	2001	2002	2003	2004	2005	2006	2007	2008	2009	2010	2011	2012	2013	2014	2015	2016	2017	2018

In [5]:
cons_df.isna().any()

new_york_city_population                   False
nyc_consumption_million_gallons_per_day    False
per_capita_gallons_per_person_per_day      False
year                                       False
dtype: bool

In [6]:
# Inventory of Greenhouse Gas Emissions Electricity Emission Factors (2005-2016)
greenhouse_gas_yearly = 'https://data.cityofnewyork.us/resource/w5he-u64t.json'
gasyearly_df = pd.read_json(greenhouse_gas_yearly)
gasyearly_df.head()

   kgch4_mw  kgco2_mwh  kgco2e_mwh  kgn20_mwh  year
0    0.0086   428.1620    429.0771     0.0023  2005
1    0.0065   377.0922    377.9291     0.0023  2006
2    0.0068   378.8847    379.7286     0.0023  2007
3    0.0058   333.8455    334.5704     0.0019  2008
4    0.0054   301.1264    301.7056     0.0015  2009

In [7]:
gasyearly_df.shape

(12, 5)

In [8]:
gasyearly_df.isna().any()

kgch4_mw      False
kgco2_mwh     False
kgco2e_mwh    False
kgn20_mwh     False
year          False
dtype: bool

In [9]:
# Inventory of New York City Greenhouse Gas Emissions - Con Edison District Steam Emission Factors (2005-2016)
greenhouse_con_ed = 'https://data.cityofnewyork.us/resource/ismp-xffj.json'
coned_df = pd.read_json(greenhouse_con_ed)
coned_df.head()

,mmbtu_metric_ton_of_steam,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_ch4,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2e,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_n2o,year
0,2.1083,0.0025,102.7037,102.8749,0.0004,2012
1,2.1638,0.0025,104.8528,105.0162,0.0003,2013
2,2.2011,0.0023,107.0042,107.1492,0.0003,2015
3,2.3022,0.0024,110.6113,110.7578,0.0003,2014
4,2.1625,0.0023,116.3374,116.4710,0.0003,2016

In [10]:
coned_df.shape

(12, 6)

In [11]:
sorted(coned_df['year'].values)

[2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [12]:
sorted(gasyearly_df['year'].values)

[2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [13]:
coned_df.isna().any()

mmbtu_metric_ton_of_steam                                                False
steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_ch4     False
steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2     False
steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2e    False
steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_n2o     False
year                                                                     False
dtype: bool

In [14]:
# Inventory of New York City Greenhouse Gas Emissions - Heating And Cooling Degree Days (2004-2016) 
greenhouse_heating_cooling = 'https://data.cityofnewyork.us/resource/av3y-hmjv.json'
heatcool_df = pd.read_json(greenhouse_heating_cooling)
heatcool_df.head()

,calendar_year,calendar_year_annual_total,calendar_year_change_from_base_year,calendar_year_change_from_previous_year,fiscal_year,fiscal_year_annual_total,fiscal_year_change_from_base_year,fiscal_year_change_from_previous_year,heating_or_cooling_degree_days
0,2004,4787,n/a,n/a,2005.0,4713.0,n/a,n/a,Heating degree days
1,2005,4733,n/a,-1.1%,2006.0,4261.0,n/a,-9.6%,Heating degree days
2,2006,3987,-15.80%,-15.8%,2007.0,4460.0,4.70%,4.7%,Heating degree days
3,2007,4705,-0.60%,18%,2008.0,4470.0,4.90%,0.2%,Heating degree days
4,2008,4598,-2.90%,-2.3%,2009.0,4835.0,13.50%,8.2%,Heating degree days

In [15]:
heatcool_df.isna().any()

calendar_year                              False
calendar_year_annual_total                 False
calendar_year_change_from_base_year        False
calendar_year_change_from_previous_year    False
fiscal_year                                 True
fiscal_year_annual_total                    True
fiscal_year_change_from_base_year           True
fiscal_year_change_from_previous_year       True
heating_or_cooling_degree_days             False
dtype: bool

In [16]:
heatcool_df['calendar_year_change_from_base_year'] = heatcool_df['calendar_year_change_from_base_year'].str.replace('%', '')
heatcool_df['calendar_year_change_from_previous_year'] = heatcool_df['calendar_year_change_from_previous_year'].str.replace('%', '')
heatcool_df['fiscal_year_change_from_base_year'] = heatcool_df['fiscal_year_change_from_base_year'].str.replace('%', '')
heatcool_df['fiscal_year_change_from_previous_year'] = heatcool_df['fiscal_year_change_from_previous_year'].str.replace('%', '')

In [17]:
#heatcool_df = heatcool_df.replace('%', '')
heatcool_df = heatcool_df.replace('n/a', np.nan)

In [18]:
hc_cols = list(heatcool_df.columns)

In [19]:
cols_to_change = ['calendar_year_change_from_base_year', 'calendar_year_change_from_previous_year', 
                  'fiscal_year_change_from_base_year', 'fiscal_year_change_from_previous_year']
new_hc_cols = []
for col in hc_cols:
    newcol = col
    if col in cols_to_change:
        newcol += '_%'
    new_hc_cols.append(newcol)
new_hc_cols

['calendar_year',
 'calendar_year_annual_total',
 'calendar_year_change_from_base_year_%',
 'calendar_year_change_from_previous_year_%',
 'fiscal_year',
 'fiscal_year_annual_total',
 'fiscal_year_change_from_base_year_%',
 'fiscal_year_change_from_previous_year_%',
 'heating_or_cooling_degree_days']

In [20]:
heatcool_df.columns = new_hc_cols
heatcool_df.head()

,calendar_year,calendar_year_annual_total,calendar_year_change_from_base_year_%,calendar_year_change_from_previous_year_%,fiscal_year,fiscal_year_annual_total,fiscal_year_change_from_base_year_%,fiscal_year_change_from_previous_year_%,heating_or_cooling_degree_days
0,2004,4787,NaN,NaN,2005.0,4713.0,NaN,NaN,Heating degree days
1,2005,4733,NaN,-1.1,2006.0,4261.0,NaN,-9.6,Heating degree days
2,2006,3987,-15.80,-15.8,2007.0,4460.0,4.70,4.7,Heating degree days
3,2007,4705,-0.60,18,2008.0,4470.0,4.90,0.2,Heating degree days
4,2008,4598,-2.90,-2.3,2009.0,4835.0,13.50,8.2,Heating degree days

In [21]:
heatcool_df['heating_or_cooling_degree_days'].unique()

array(['Heating degree days', 'Cooling degree days'], dtype=object)

In [22]:
heat_df = heatcool_df.loc[(heatcool_df['heating_or_cooling_degree_days']=='Heating degree days')]

In [23]:
cool_df = heatcool_df.loc[(heatcool_df['heating_or_cooling_degree_days']=='Cooling degree days')]

In [24]:
print(heat_df.shape, cool_df.shape)

(13, 9) (13, 9)

In [25]:
heatcool_df.shape

(26, 9)

In [26]:
# DOHMH Indoor Environmental Complaints
# indoor_complaints = 'https://data.cityofnewyork.us/resource/9jgj-bmct.json'
indoor_complaints_local = data_dir + 'indoor_complaints.csv'
incs_df = pd.read_csv(indoor_complaints_local, encoding = f_encoding)
incs_df.head()

,Complaint_Number,Incident_Address_Street_Number,Incident_Address_Street_Name,Incident_Address,Incident_Address_Zip,Incident_Address_Borough,Complaint_Type_311,Descriptor_1_311,Complaint_Status,Date_Received,Deleted,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,T-10-08-02-0019,424,WEST 56 STREET,424 WEST 56 STREET,10019,Manhattan,Indoor Air Quality,Ventilation,05-Close,08/02/2010 09:59:36 AM,No,40.767618,-73.987123,4.0,3.0,139.0,1077127.0,1.010650e+09,Clinton
1,T-11-08-13-0143,717B,NOSTRAND AVENUE,717B NOSTRAND AVENUE,11216,Brooklyn,Indoor Air Quality,Ventilation,05-Close,08/13/2011 06:31:34 PM,No,40.672807,-73.950215,8.0,36.0,31701.0,3031589.0,3.012410e+09,Crown Heights North
2,T-11-08-29-0303,160,EAST 27 STREET,160 EAST 27 STREET,10016,Manhattan,Asbestos,NaN,05-Close,08/29/2011 09:29:37 PM,No,40.741512,-73.981711,6.0,2.0,68.0,1018147.0,1.008820e+09,Gramercy
3,T-11-10-16-0201,59-20,56 DRIVE,59-20 56 DRIVE,11378,Queens,Indoor Air Quality,Other (Explain Below),05-Close,10/16/2011 07:03:18 PM,No,40.723938,-73.907941,5.0,30.0,531.0,4060006.0,4.026910e+09,Maspeth
4,T-11-11-01-0005,245,EAST 54 STREET,245 EAST 54 STREET,10022,Manhattan,Indoor Air Quality,Other (Explain Below),05-Close,11/01/2011 12:49:42 PM,No,40.757896,-73.967893,6.0,4.0,108.0,1038575.0,1.013280e+09,Turtle Bay-East Midtown

In [27]:
incs_df.shape

(55211, 19)

In [28]:
incs_df.isna().any()

Complaint_Number                  False
Incident_Address_Street_Number     True
Incident_Address_Street_Name       True
Incident_Address                   True
Incident_Address_Zip               True
Incident_Address_Borough           True
Complaint_Type_311                 True
Descriptor_1_311                   True
Complaint_Status                  False
Date_Received                     False
Deleted                           False
Latitude                           True
Longitude                          True
Community Board                    True
Council District                   True
Census Tract                       True
BIN                                True
BBL                                True
NTA                                True
dtype: bool

In [29]:
sorted(pd.to_datetime(incs_df['Date_Received']).dt.year.unique())

[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [30]:
incs_df['Date_Received'].head()

0    08/02/2010 09:59:36 AM
1    08/13/2011 06:31:34 PM
2    08/29/2011 09:29:37 PM
3    10/16/2011 07:03:18 PM
4    11/01/2011 12:49:42 PM
Name: Date_Received, dtype: object

In [31]:
dates = pd.to_datetime(incs_df['Date_Received'], format='%m/%d/%Y %I:%M:%S %p')
# %I comboed with %p gives proper military time

years = dates.dt.year
incs_df['year'] = years

incs_group = incs_df.groupby('year').size()
incs_group.values

array([2722, 5096, 5165, 5509, 6220, 5961, 5399, 6518, 7037, 5584],
      dtype=int64)

In [32]:
num_complaints = incs_group.to_frame(name='number_of_indoor_complaints')
num_complaints.reset_index(inplace=True)
num_complaints

   year  number_of_indoor_complaints
0  2010                         2722
1  2011                         5096
2  2012                         5165
3  2013                         5509
4  2014                         6220
5  2015                         5961
6  2016                         5399
7  2017                         6518
8  2018                         7037
9  2019                         5584

### Prevalence refers to %NYC adults who have this quality

In [33]:
# Community Health Survey
health_survey = 'https://data.cityofnewyork.us/resource/2r9r-m6j4.json'
hel1_df = pd.read_json(health_survey)
hel1_df.head()

,lower95_ci,prevalence,question,survey,upper95_ci,year
0,82.0,83.3,Health Insurance Coverage,CHS,84.6,2010
1,82.0,83.3,Health Insurance Coverage,CHS,84.6,2010
2,9.4,10.3,Did not get needed medical care,CHS,11.4,2010
3,9.4,10.3,Did not get needed medical care,CHS,11.4,2010
4,n/a,n/a,No Personal Doctor,CHS,n/a,2010

In [34]:
hel1_df.shape

(100, 6)

In [ ]:
hel1_df['year'].unique()

In [ ]:
# DOHMH Community Health Survey (2010-2016)
health_survey_2 = 'https://data.cityofnewyork.us/resource/csut-3wpr.json'
hel2_df = pd.read_json(health_survey_2)
hel2_df.head()

In [ ]:
hel2_df.shape

In [ ]:
hel2_df['year'].unique()

In [ ]:
health = hel2_df.groupby('year').size()
num_surveyed = health.to_frame('num_surveyed')
num_surveyed.reset_index(inplace=True)
num_surveyed

In [35]:
# DSNY Monthly Tonnage Data
# tonnage_data = 'https://data.cityofnewyork.us/resource/ebb7-mvp5.json'
# tons_df = pd.read_json(tonnage_data)
tonnage_data_local = data_dir + 'monthly_tonnage.csv'
tons_df = pd.read_csv(tonnage_data_local, encoding = f_encoding)
tons_df.head()

,MONTH,BOROUGH,COMMUNITYDISTRICT,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,SCHOOLORGANICTONS,LEAVESORGANICTONS,XMASTREETONS,BOROUGH_ID
0,1993 / 11,Manhattan,1,625.2,119.4,34.4,NaN,NaN,NaN,NaN,1
1,1995 / 09,Manhattan,1,633.1,117.2,45.8,NaN,NaN,NaN,NaN,1
2,1995 / 08,Manhattan,1,627.5,82.4,35.6,NaN,NaN,NaN,NaN,1
3,2012 / 03,Manhattan,1,1194.4,341.6,210.8,NaN,NaN,NaN,NaN,1
4,1992 / 03,Manhattan,1,726.0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [36]:
tons_df.shape

(20399, 11)

In [37]:
parts = tons_df['MONTH'].str.split(' / ', n=1, expand=True)

'''unique_years = []
for pair in parts:
    if pair[0] not in unique_years:
        unique_years.append(pair[0])'''

tons_df['year'] = parts[0]
tons_df

,MONTH,BOROUGH,COMMUNITYDISTRICT,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,SCHOOLORGANICTONS,LEAVESORGANICTONS,XMASTREETONS,BOROUGH_ID,year
0,1993 / 11,Manhattan,1,625.2,119.4,34.4,NaN,NaN,NaN,NaN,1,1993
1,1995 / 09,Manhattan,1,633.1,117.2,45.8,NaN,NaN,NaN,NaN,1,1995
2,1995 / 08,Manhattan,1,627.5,82.4,35.6,NaN,NaN,NaN,NaN,1,1995
3,2012 / 03,Manhattan,1,1194.4,341.6,210.8,NaN,NaN,NaN,NaN,1,2012
4,1992 / 03,Manhattan,1,726.0,NaN,NaN,NaN,NaN,NaN,NaN,1,1992
5,1991 / 08,Manhattan,1,695.1,NaN,NaN,NaN,NaN,NaN,NaN,1,1991
6,2002 / 01,Brooklyn,7,3191.7,10.5,568.8,NaN,NaN,NaN,23.1,3,2002
7,2008 / 01,Brooklyn,7,3289.8,548.0,404.1,NaN,NaN,NaN,20.5,3,2008
8,2007 / 01,Brooklyn,7,3339.9,582.2,391.8,NaN,NaN,NaN,22.1,3,2007
9,2012 / 01,Brooklyn,7,3156.7,436.6,343.4,NaN,NaN,NaN,20.1,3,2012
10,2006 / 01,Brooklyn,7,3365.5,559.1,430.4,NaN,NaN,NaN,11.4,3,2006
11,2001 / 11,Brooklyn,7,3215.8,22.4,524.1,NaN,NaN,42.7,NaN,3,2001
12,2004 / 12,Brooklyn,7,3534.7,618.9,440.6,NaN,NaN,21.5,NaN,3,2004
13,2016 / 11,Brooklyn,7,3356.9,424.4,380.3,120.1,NaN,2.5,NaN,3,2016
14,1997 / 04,Brooklyn,7,3573.2,266.7,286.6,NaN,NaN,NaN,NaN,3,1997
15,2005 / 02,Brooklyn,7,2913.9,520.6,382.9,NaN,NaN,NaN,NaN,3,2005
16,2006 / 07,Brooklyn,7,3614.5,497.9,425.2,NaN,NaN,NaN,NaN,3,2006
17,1996 / 04,Brooklyn,7,3478.8,279.2,301.6,NaN,NaN,NaN,NaN,3,1996
18,1999 / 02,Brooklyn,7,2595.5,350.2,352.2,NaN,NaN,NaN,NaN,3,1999
19,2007 / 09,Brooklyn,7,3310.6,490.4,346.9,NaN,NaN,NaN,NaN,3,2007
20,2007 / 08,Brooklyn,7,3648.4,515.4,400.7,NaN,NaN,NaN,NaN,3,2007
21,2013 / 11,Brooklyn,7,3179.2,398.7,318.3,57.5,NaN,NaN,NaN,3,2013
22,2008 / 11,Brooklyn,7,3106.8,437.4,308.7,NaN,NaN,NaN,NaN,3,2008
23,2010 / 12,Brooklyn,7,2514.9,367.6,275.5,NaN,NaN,NaN,NaN,3,2010
24,1993 / 11,Brooklyn,7,3178.7,307.1,266.9,NaN,NaN,NaN,NaN,3,1993
25,2000 / 09,Brooklyn,7,3212.4,479.1,513.1,NaN,NaN,NaN,NaN,3,2000
26,2012 / 10,Brooklyn,7,3287.2,387.9,285.8,NaN,NaN,NaN,NaN,3,2012
27,1998 / 02,Brooklyn,7,2836.9,330.9,330.0,NaN,NaN,NaN,NaN,3,1998
28,2002 / 05,Brooklyn,7,3500.0,9.9,524.0,NaN,NaN,NaN,NaN,3,2002
29,2013 / 10,Brooklyn,7,3341.4,414.6,319.1,38.2,NaN,NaN,NaN,3,2013
...,...,...,...,...,...,...,...,...,...,...,...,...
20369,1994 / 02,Bronx,6,1724.0,32.2,46.1,NaN,NaN,NaN,NaN,2,1994
20370,2010 / 07,Bronx,6,2342.4,108.1,132.9,NaN,NaN,NaN,NaN,2,2010
20371,2012 / 09,Bronx,6,2108.7,96.2,111.4,NaN,NaN,NaN,NaN,2,2012
20372,2012 / 02,Bronx,6,2175.2,109.9,127.5,NaN,NaN,NaN,NaN,2,2012
20373,1994 / 07,Bronx,6,2047.3,43.1,62.9,NaN,NaN,NaN,NaN,2,1994
20374,2001 / 08,Bronx,6,2235.4,94.2,223.5,NaN,NaN,NaN,NaN,2,2001
20375,2012 / 12,Bronx,6,2308.3,91.9,93.2,NaN,NaN,NaN,NaN,2,2012
20376,2006 / 10,Bronx,6,2351.8,83.9,113.8,NaN,NaN,NaN,NaN,2,2006
20377,2007 / 02,Bronx,6,1983.6,77.1,100.3,NaN,NaN,NaN,NaN,2,2007
20378,2013 / 06,Bronx,6,2201.6,109.9,125.3,NaN,NaN,NaN,NaN,2,2013
20379,2013 / 08,Bronx,6,2178.3,95.9,117.1,NaN,NaN,NaN,NaN,2,2013
20380,2014 / 04,Bronx,6,2202.0,132.5,157.6,NaN,NaN,NaN,NaN,2,2014
20381,2005 / 04,Bronx,6,2357.2,86.9,130.0,NaN,NaN,NaN,NaN,2,2005
20382,2010 / 11,Bronx,6,2366.0,107.0,127.7,NaN,NaN,NaN,NaN,2,2010
20383,2000 / 12,Bronx,6,1978.3,96.5,147.2,NaN,NaN,NaN,NaN,2,2000
20384,1996 / 01,Bronx,6,2159.3,23.3,32.9,NaN,NaN,NaN,NaN,2,1996
20385,2007 / 07,Bronx,6,2466.3,97.5,119.0,NaN,NaN,NaN,NaN,2,2007
20386,2002 / 03,Bronx,6,2078.4,96.5,173.8,NaN,NaN,NaN,NaN,2,2002
20387,2007 / 04,Bronx,6,2291.7,89.1,113.4,NaN,NaN,NaN,NaN,2,2007
20388,2000 / 03,Bronx,6,2047.6,85.1,167.8,NaN,NaN,NaN,NaN,2,2000
20389,2017 / 07,Bronx,6,2143.5,118.8,177.1,NaN,NaN,NaN,NaN,2,2017
20390,1994 / 11,Bronx,6,2107.5,35.2,47.9,NaN,NaN,NaN,NaN,2,1994
20391,2003 / 05,Bronx,6,2588.2,81.5,NaN,NaN,NaN,NaN,NaN,2,2003
20392,2003 / 10,Bronx,6,2486.7,85.5,NaN,NaN,NaN,NaN,NaN,2,2003
20393,2002 / 11,Bronx,6,2463.8,69.3,NaN,NaN,NaN,NaN,NaN,2,2002
20394,1992 / 01,Bronx,6,2165.9,NaN,NaN,NaN,NaN,NaN,NaN,2,1992
20395,1991 / 04,Bronx,6,2240.2,NaN,NaN,NaN,NaN,NaN,NaN,2,1991
20396,1993 / 09,Bronx,6,1954.7,NaN,NaN,NaN,NaN,NaN,NaN,2,1993
20397,1992 / 09,Bronx,6,2107.1,NaN,NaN,NaN,NaN,NaN,NaN,2,1992
20398,1992 / 07,Bronx,6,2140.4,NaN,NaN,NaN,NaN,NaN,NaN,2,1992

In [38]:
tons = tons_df.groupby('year').sum()
tons.reset_index(inplace=True)

In [39]:
tons.columns

Index(['year', 'COMMUNITYDISTRICT', 'REFUSETONSCOLLECTED',
       'PAPERTONSCOLLECTED', 'MGPTONSCOLLECTED', 'RESORGANICSTONS',
       'SCHOOLORGANICTONS', 'LEAVESORGANICTONS', 'XMASTREETONS', 'BOROUGH_ID'],
      dtype='object')

In [40]:
tons = tons[['year','REFUSETONSCOLLECTED', 'PAPERTONSCOLLECTED', 'MGPTONSCOLLECTED', 'RESORGANICSTONS', 'SCHOOLORGANICTONS', 'LEAVESORGANICTONS', 'XMASTREETONS']]
tons['year'] = tons['year'].astype(int)

In [41]:
tons

,year,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,SCHOOLORGANICTONS,LEAVESORGANICTONS,XMASTREETONS
0,1990,303504.4,0.0,0.0,0.0,0.0,0.0,0.0
1,1991,2345895.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1992,2906071.8,0.0,0.0,0.0,0.0,0.0,0.0
3,1993,2751928.6,139116.6,86539.7,0.0,0.0,3422.1,0.0
4,1994,2753880.2,256137.0,162526.0,0.0,0.0,2780.9,1208.6
5,1995,2691016.3,231199.4,168124.7,0.0,0.0,3322.1,1330.6
6,1996,2770664.8,256605.0,173701.1,0.0,0.0,2287.8,554.2
7,1997,2691786.0,221320.7,193311.5,0.0,0.0,4670.3,1666.1
8,1998,2608081.4,230916.8,243912.0,0.0,0.0,6893.4,2048.9
9,1999,2576848.3,243095.8,275585.8,0.0,0.0,18671.6,2142.2
10,2000,2565089.4,253064.4,299002.1,0.0,0.0,16015.6,2284.0
11,2001,2648601.4,241365.1,312362.0,0.0,0.0,17936.0,2108.0
12,2002,2875495.1,208997.9,155990.5,0.0,0.0,14.8,1696.9
13,2003,3074509.7,193667.8,1.0,0.0,0.0,12.7,183.0
14,2004,2905797.3,329546.2,186858.7,0.0,0.0,17042.2,945.4
15,2005,2805761.1,372156.4,243745.7,0.0,0.0,13178.6,1376.2
16,2006,2759260.1,353539.0,234817.2,0.0,0.0,17816.1,1300.8
17,2007,2692388.4,346711.6,227955.1,0.0,0.0,4866.2,1374.6
18,2008,2629856.3,341015.4,228650.4,0.0,0.0,15.0,1466.2
19,2009,2591531.2,311240.8,231092.6,0.0,0.0,0.0,1215.7
20,2010,2534393.8,299359.3,220878.2,0.0,0.0,0.0,1197.2
21,2011,2663828.9,301957.2,219438.2,0.0,0.0,0.0,319.7
22,2012,2586978.9,283164.4,211631.0,0.0,146.5,0.0,1187.4
23,2013,2553356.8,284065.8,219805.5,594.9,1055.9,0.0,1729.6
24,2014,2528444.5,288735.8,234966.0,4623.1,3578.8,0.0,1741.5
25,2015,2498990.8,292723.3,251379.0,8308.8,5356.4,0.0,1769.5
26,2016,2503022.1,299344.8,275263.9,11221.3,6226.6,3106.8,1947.7
27,2017,2504617.2,294056.4,283418.4,23246.7,6497.9,2372.1,2076.8
28,2018,2528102.1,303152.8,290280.8,35133.7,6710.7,3599.9,2399.2
29,2019,1931511.8,226331.1,230185.5,23778.6,5314.6,102.8,1635.2

## Summarize the data Set

In [44]:
nums = [cons_df.shape[1], gasyearly_df.shape[1], coned_df.shape[1], 
    heatcool_df.shape[1], incs_df.shape[1], #hel1_df.shape[1], hel2_df.shape[1],
   tons_df.shape[1]]

In [45]:
sum(nums) - len(nums) + 1

51

In [46]:
all_columns = coned_df.merge(gasyearly_df, on='year', how='inner')
all_columns2 = all_columns.merge(cons_df, on='year', how='right')
all_columns3 = all_columns2.merge(heat_df, left_on='year', right_on='calendar_year', how='left')
all_columns4 = all_columns3.merge(cool_df, left_on='year', right_on='calendar_year', how='left', suffixes=('_heat', '_cool'))
all_columns5 = all_columns4.merge(num_complaints, on='year', how='left')
all_columns6 = all_columns5.merge(tons, on='year', how='left')
all_columns6.sort_values(by='year', inplace=True)
all_columns6.columns

Index(['mmbtu_metric_ton_of_steam',
       'steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_ch4',
       'steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2',
       'steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2e',
       'steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_n2o',
       'year', 'kgch4_mw', 'kgco2_mwh', 'kgco2e_mwh', 'kgn20_mwh',
       'new_york_city_population', 'nyc_consumption_million_gallons_per_day',
       'per_capita_gallons_per_person_per_day', 'calendar_year_heat',
       'calendar_year_annual_total_heat',
       'calendar_year_change_from_base_year_%_heat',
       'calendar_year_change_from_previous_year_%_heat', 'fiscal_year_heat',
       'fiscal_year_annual_total_heat',
       'fiscal_year_change_from_base_year_%_heat',
       'fiscal_year_change_from_previous_year_%_heat',
       'heating_or_cooling_degree_days_heat', 'calendar_year_cool',
       'calendar_year_annual_total_cool',
       'calendar_year_change_from_base_year_%_cool',
       'calendar_year_change_from_previous_year_%_cool', 'fiscal_year_cool',
       'fiscal_year_annual_total_cool',
       'fiscal_year_change_from_base_year_%_cool',
       'fiscal_year_change_from_previous_year_%_cool',
       'heating_or_cooling_degree_days_cool', 'number_of_indoor_complaints',
       'REFUSETONSCOLLECTED', 'PAPERTONSCOLLECTED', 'MGPTONSCOLLECTED',
       'RESORGANICSTONS', 'SCHOOLORGANICTONS', 'LEAVESORGANICTONS',
       'XMASTREETONS'],
      dtype='object')

In [48]:
all_columns6.shape # should be 40x39

(40, 39)

In [75]:
all_cols = list(all_columns6.columns)
all_cols.remove('year')
all_cols.insert(0, 'year')

In [77]:
final_data = all_columns6.loc[:, all_cols]
final_data.reset_index(inplace=True, drop=True)
final_data.head(10)

,year,mmbtu_metric_ton_of_steam,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_ch4,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2e,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_n2o,kgch4_mw,kgco2_mwh,kgco2e_mwh,kgn20_mwh,new_york_city_population,nyc_consumption_million_gallons_per_day,per_capita_gallons_per_person_per_day,calendar_year_heat,calendar_year_annual_total_heat,calendar_year_change_from_base_year_%_heat,calendar_year_change_from_previous_year_%_heat,fiscal_year_heat,fiscal_year_annual_total_heat,fiscal_year_change_from_base_year_%_heat,fiscal_year_change_from_previous_year_%_heat,heating_or_cooling_degree_days_heat,calendar_year_cool,calendar_year_annual_total_cool,calendar_year_change_from_base_year_%_cool,calendar_year_change_from_previous_year_%_cool,fiscal_year_cool,fiscal_year_annual_total_cool,fiscal_year_change_from_base_year_%_cool,fiscal_year_change_from_previous_year_%_cool,heating_or_cooling_degree_days_cool,number_of_indoor_complaints,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,SCHOOLORGANICTONS,LEAVESORGANICTONS,XMASTREETONS
0,1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7102100.0,1512.0,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7071639.0,1506.0,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7089241.0,1309.0,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7109105.0,1382.0,194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7181224.0,1424.0,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7234514.0,1465.0,203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7274054.0,1326.0,182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7319246.0,1351.0,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7342476.0,1447.0,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7353719.0,1484.0,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
final_data['calendar_year_change_from_base_year_%_heat'] = final_data['calendar_year_change_from_base_year_%_heat'].astype(np.float64)
final_data['calendar_year_change_from_previous_year_%_heat'] = final_data['calendar_year_change_from_previous_year_%_heat'].astype(np.float64)
final_data['fiscal_year_change_from_base_year_%_heat'] = final_data['fiscal_year_change_from_base_year_%_heat'].astype(np.float64)
final_data['fiscal_year_change_from_previous_year_%_heat'] = final_data['fiscal_year_change_from_previous_year_%_heat'].astype(np.float64)

In [83]:
final_data.dtypes

year                                                                       int64
mmbtu_metric_ton_of_steam                                                float64
steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_ch4     float64
steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2     float64
steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2e    float64
steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_n2o     float64
kgch4_mw                                                                 float64
kgco2_mwh                                                                float64
kgco2e_mwh                                                               float64
kgn20_mwh                                                                float64
new_york_city_population                                                 float64
nyc_consumption_million_gallons_per_day                                  float64
per_capita_gallons_per_person_per_day                                      int64
calendar_year_heat                                                       float64
calendar_year_annual_total_heat                                          float64
calendar_year_change_from_base_year_%_heat                               float64
calendar_year_change_from_previous_year_%_heat                           float64
fiscal_year_heat                                                         float64
fiscal_year_annual_total_heat                                            float64
fiscal_year_change_from_base_year_%_heat                                  object
fiscal_year_change_from_previous_year_%_heat                              object
heating_or_cooling_degree_days_heat                                       object
calendar_year_cool                                                       float64
calendar_year_annual_total_cool                                          float64
calendar_year_change_from_base_year_%_cool                                object
calendar_year_change_from_previous_year_%_cool                            object
fiscal_year_cool                                                         float64
fiscal_year_annual_total_cool                                            float64
fiscal_year_change_from_base_year_%_cool                                  object
fiscal_year_change_from_previous_year_%_cool                              object
heating_or_cooling_degree_days_cool                                       object
number_of_indoor_complaints                                              float64
REFUSETONSCOLLECTED                                                      float64
PAPERTONSCOLLECTED                                                       float64
MGPTONSCOLLECTED                                                         float64
RESORGANICSTONS                                                          float64
SCHOOLORGANICTONS                                                        float64
LEAVESORGANICTONS                                                        float64
XMASTREETONS                                                             float64
dtype: object

In [95]:
from sklearn.preprocessing import minmax_scale

In [96]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
num_data = final_data.select_dtypes(include=numerics)
num_data = num_data.drop('year', axis=1)
num_data.head(10)

,mmbtu_metric_ton_of_steam,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_ch4,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2e,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_n2o,kgch4_mw,kgco2_mwh,kgco2e_mwh,kgn20_mwh,new_york_city_population,nyc_consumption_million_gallons_per_day,per_capita_gallons_per_person_per_day,calendar_year_heat,calendar_year_annual_total_heat,calendar_year_change_from_base_year_%_heat,calendar_year_change_from_previous_year_%_heat,fiscal_year_heat,fiscal_year_annual_total_heat,fiscal_year_change_from_base_year_%_heat,fiscal_year_change_from_previous_year_%_heat,calendar_year_cool,calendar_year_annual_total_cool,fiscal_year_cool,fiscal_year_annual_total_cool,number_of_indoor_complaints,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,SCHOOLORGANICTONS,LEAVESORGANICTONS,XMASTREETONS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7102100.0,1512.0,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7071639.0,1506.0,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7089241.0,1309.0,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7109105.0,1382.0,194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7181224.0,1424.0,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7234514.0,1465.0,203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7274054.0,1326.0,182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7319246.0,1351.0,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7342476.0,1447.0,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7353719.0,1484.0,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
stand_data = pd.DataFrame(minmax_scale(num_data, feature_range=(0, 1), axis=0, copy=True), columns=num_data.columns)

C:\Users\watson\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64.
  """Entry point for launching an IPython kernel.

In [105]:
num_data.insert(0, 'year', final_data['year'])
stand_data.insert(0, 'year', final_data['year'])

In [71]:
final_data.to_csv(data_dir + 'yearly_data.csv')

In [106]:
num_data.to_csv(data_dir + 'yearly_numeric_data.csv')

In [107]:
stand_data.to_csv(data_dir + 'yearly_stan_data.csv')