In [4]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 999)
import matplotlib.pyplot as plt
%matplotlib inline

# Links for the Related Data Sets

In [2]:
# Rooftop Drinking Water Tank Inspection Results
rooftop_water = 'https://data.cityofnewyork.us/resource/gjm4-k24g.json'
roof_df = pd.read_json(rooftop_water)
roof_df.head()

,analytes,batch_date,bbl,bin,block,borough,census_tract,coliform,community_board,confirmation_num,council_district,deleted,ecoli,gi_req_access_ladders,gi_req_air_vents,gi_req_external_structure,gi_req_internal_structure,gi_req_overflow_pipes,gi_req_roof_access,gi_result_access_ladders,gi_result_air_vents,gi_result_external_structure,gi_result_internal_structure,gi_result_overflow_pipes,gi_result_roof_access,house_num,inspection_by_firm,inspection_date,inspection_performed,lab_name,latitude,longitude,lot,meet_standards,nta,nys_certified,reporting_year,sample_collected,si_req_biological_growth,si_req_debris_insects,si_req_rodent_bird,si_req_sediment,si_result_biological_growth,si_result_debris_insects,si_result_rodent_bird,si_result_sediment,street_name,tank_num,zip
0,B,2019-11-01T12:17:24.000,4.160830e+09,4303321,16083,QUEENS,954.0,A,14.0,WTI1860149306,31.0,No,A,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,71-15,American Pipe & Tank,11/29/2017,Y,EMSL ANALYTICAL,40.592035,-73.800011,37,NaN,Hammels-Arverne-Edgemere,Y,2017,Y,Y,Y,Y,Y,N,N,N,N,BEACH CHANNEL DRIVE,1,11692
1,B,2019-11-01T12:17:25.000,1.001530e+09,1001670,153,MANHATTAN,31.0,A,1.0,WTI8873862886,1.0,No,A,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,31,DCAS,05/01/2018,Y,"EMSL Analytical INC., 06/04/18",40.713402,-74.004635,24,NaN,SoHo-TriBeCa-Civic Center-Little Italy,Y,2018,Y,Y,Y,Y,Y,N,N,N,N,Chambers Street,1,10007
2,B,2019-11-01T12:17:28.000,1.000290e+09,1000850,29,MANHATTAN,9.0,A,1.0,WTI1711132794,1.0,No,A,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,44,Rosenwach Tank Co. LLC,10/14/2018,Y,EMSL,40.705079,-74.010766,73,Y,Battery Park City-Lower Manhattan,Y,2018,Y,Y,Y,Y,Y,N,N,N,N,BEAVER STREET,1,10004
3,B,2019-11-01T12:17:15.000,1.007850e+09,1014428,785,MANHATTAN,109.0,A,5.0,WTI4028284226,3.0,No,A,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,213,Rosenwach Tank Co. LLC,10/21/2017,Y,EMSL,40.751946,-73.990796,29,Y,Midtown-Midtown South,Y,2017,Y,Y,Y,Y,Y,N,N,N,N,WEST 35 STREET,1,10001
4,B,2019-11-01T12:17:20.000,1.013320e+09,1038623,1332,MANHATTAN,108.0,A,6.0,WTI5156903967,4.0,No,A,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,979,Rosenwach Tank Co. LLC,02/15/2016,Y,EMSL,40.761167,-73.966790,1,Y,Turtle Bay-East Midtown,Y,2016,Y,Y,Y,Y,Y,N,N,N,N,3 AVENUE,1,10022

In [7]:
roof_df['batch_date_dt'] = pd.to_datetime(roof_df['batch_date'])

In [12]:
roof_df['batch_date_dt'].dt.year.unique()

array([2019], dtype=int64)

In [15]:
# Drinking Water Quality Distribution Monitoring Data
water_quality = 'https://data.cityofnewyork.us/resource/bkwf-xfky.json'
qual_df = pd.read_json(water_quality)
qual_df.head()

,coliform_quanti_tray_mpn_100ml,e_coli_quanti_tray_mpn_100ml,fluoride_mg_l,location,residual_free_chlorine_mg_l,sample_class,sample_date,sample_number,sample_site,sample_time,turbidity_ntu
0,<1,<1,NaN,"SS - IFO 328 S/S Henderson Ave, BTW Westbury &...",0.63,Operational,2019-09-30T00:00:00.000,28787,56400,2019-11-05 08:56:00,1.28
1,<1,<1,NaN,"SS - IFO 71E N/S E 183rd St, 1st SS W/O Morris...",0.62,Compliance,2019-09-30T00:00:00.000,28789,11150,2019-11-05 10:39:00,0.60
2,<1,<1,NaN,"SS - OPP 33-02 N/S 48th Ave, 1st SS E/O 33rd S...",0.22,Compliance,2019-09-30T00:00:00.000,28771,40450,2019-11-05 11:13:00,0.45
3,<1,<1,0.69,SS - Shaft 3B of City Tunnel No.3 - Mosholu Av...,0.64,Operational,2019-09-30T00:00:00.000,28781,1S03B,2019-11-05 10:28:00,0.54
4,<1,<1,NaN,"SS - N/S 39th Ave, BTW 215th Pl & 216th St, IF...",0.50,Operational,2019-09-30T00:00:00.000,28816,43900,2019-11-05 10:50:00,0.91

In [17]:
pd.to_datetime(qual_df['sample_date']).dt.year.unique()

array([2019], dtype=int64)

In [18]:
# NYC Parks Drinking Fountains
park_fountain = 'https://data.cityofnewyork.us/resource/bevm-apmm.json'
park_df = pd.read_json(park_fountain)
park_df.head()

,borough,collection,department,descriptio,featuresta,fountain_co,fountain_ty,gisobjid,gispropnum,objectid,painted,parentid,position,signname,system,the_geom
0,B,2018-02-10T00:00:00.000Z,B-11,"F High Low, Out in Open",Active,2,F High Low,100038957.0,B100,1589,no,B100,Out in Open,Seth Low Playground/ Bealin Square,B100-DF0647,"{'type': 'Point', 'coordinates': [-73.98659181..."
1,M,2018-02-22T00:00:00.000Z,M-06,"C, In Playground",Active,1,C,100039303.0,M158,1921,no,M158,In Playground,Robert Moses Playground,M158-DF0068,"{'type': 'Point', 'coordinates': [-73.96862765..."
2,M,2018-02-27T00:00:00.000Z,M-04,"D, Under Tree, Near Ballfield, Just Outside Pl...",Active,1,D,100039632.0,M011,2253,yes,M011,"Under Tree, Near Ballfield, Just Outside Playg...",Chelsea Park,M011-DF0209,"{'type': 'Point', 'coordinates': [-74.00036316..."
3,M,2018-04-04T00:00:00.000Z,M-03,"D, Just Outside Playground, Near Ballfield",Active,1,D,100039936.0,M144,2585,no,M144,"Just Outside Playground, Near Ballfield",John V. Lindsay East River Park,M144-DF0392,"{'type': 'Point', 'coordinates': [-73.97290101..."
4,B,2018-05-29T00:00:00.000Z,B-03,"C, In Shade, In Playground",Active,1,C,100040304.0,B302,2917,NaN,B302,"In Shade, In Playground",Charlie's Place,B302-DF0897,"{'type': 'Point', 'coordinates': [-73.94639259..."

In [22]:
park_df['year'] = pd.to_datetime(park_df['collection']).dt.year

In [24]:
park_df.loc[(park_df['year']==1899)]

,borough,collection,department,descriptio,featuresta,fountain_co,fountain_ty,gisobjid,gispropnum,objectid,painted,parentid,position,signname,system,the_geom,year
45,X,1899-11-30T00:00:00.000Z,X-08,A,Active,1,A,100040404.0,X152,3086,NaN,X152,NaN,Vinmont Veteran Park,X152-DF0474,"{'type': 'Point', 'coordinates': [-73.90406782...",1899
88,X,1899-11-30T00:00:00.000Z,X-09,A,Active,1,A,100040406.0,X148L,3080,NaN,X148L,NaN,Virginia Playground,X148L-DF0468,"{'type': 'Point', 'coordinates': [-73.86212551...",1899
197,X,1899-11-30T00:00:00.000Z,X-10,D,Active,1,D,100040496.0,X170,3083,NaN,X170,NaN,The Pearly Gates,X170-DF0471,"{'type': 'Point', 'coordinates': [-73.84542565...",1899
270,B,1899-11-30T00:00:00.000Z,B-19,A,Active,1,A,100040467.0,B073,3019,NaN,B073,NaN,Prospect Park,B073-DF0942,"{'type': 'Point', 'coordinates': [-73.96787068...",1899
358,M,1899-11-30T00:00:00.000Z,M-07,"E Wheelchair, In Shade, Under Tree",Active,1,E Wheelchair,100037399.0,M053,5,NaN,M053,"In Shade, Under Tree",Theodore Roosevelt Park,M053-DF0005,"{'type': 'Point', 'coordinates': [-73.97459236...",1899
429,B,1899-11-30T00:00:00.000Z,B-19,E Wheelchair Dog,Active,1,E Wheelchair Dog,100040425.0,B073,3016,NaN,B073,NaN,Prospect Park,B073-DF0939,"{'type': 'Point', 'coordinates': [-73.96796367...",1899
433,X,1899-11-30T00:00:00.000Z,X-08,A,Active,1,A,100040437.0,X152,3085,NaN,X152,NaN,Vinmont Veteran Park,X152-DF0473,"{'type': 'Point', 'coordinates': [-73.90498019...",1899
482,B,1899-11-30T00:00:00.000Z,B-02,E Wheelchair,Active,1,E Wheelchair,100040481.0,B223DJ,3022,NaN,B223DJ,NaN,Brooklyn Heights Promenade,B223DJ-DF0945,"{'type': 'Point', 'coordinates': [-73.99617593...",1899
649,X,1899-11-30T00:00:00.000Z,X-08,A,Active,1,A,100040433.0,X150I,3088,NaN,X150I,NaN,Cooney Grauer Field,X150I-DF0476,"{'type': 'Point', 'coordinates': [-73.90098358...",1899
943,M,1899-11-30T00:00:00.000Z,M-03,"A, Near Ballfield, Just Outside Playground",Active,1,A,100037394.0,M270,8,NaN,M270,"Near Ballfield, Just Outside Playground",Dry Dock Playground,M270-DF0008,"{'type': 'Point', 'coordinates': [-73.97523816...",1899
947,X,1899-11-30T00:00:00.000Z,X-13,A,Active,1,A,100040493.0,X092,3091,NaN,X092,NaN,Van Cortlandt Park,X092-DF0479,"{'type': 'Point', 'coordinates': [-73.88120636...",1899

In [28]:
# Natural Gas Consumption by ZIP Code - 2010
gas_usage_2010 = 'https://data.cityofnewyork.us/resource/uedp-fegm.json'
gus10_df = pd.read_json(gas_usage_2010)
gus10_df.head()

,:@computed_region_92fq_4b7q,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_sbqj_enih,:@computed_region_yeji_bk3q,_consumption_gj_,_consumption_therms_,building_type_service_class,utility_data_source,zip_code
0,NaN,NaN,NaN,NaN,NaN,50.0,470.0,Commercial,National Grid,"{'human_address': '{""address"": """", ""city"": """",..."
1,NaN,NaN,NaN,NaN,NaN,68.0,647.0,Commercial,National Grid,"{'human_address': '{""address"": """", ""city"": """",..."
2,NaN,NaN,NaN,NaN,NaN,3562.0,33762.0,Large residential,National Grid,"{'human_address': '{""address"": """", ""city"": """",..."
3,NaN,NaN,NaN,NaN,NaN,3389.0,32125.0,Commercial,National Grid,"{'human_address': '{""address"": """", ""city"": """",..."
4,NaN,NaN,NaN,NaN,NaN,380.0,3605.0,Institutional,National Grid,"{'human_address': '{""address"": """", ""city"": """",..."

In [29]:
# Public Recycling Bins - and their Locations
bin_locations = 'https://data.cityofnewyork.us/resource/sxx4-xhzg.json'
bins_df = pd.read_json(bin_locations)
bins_df.head()

,address,borough,latitude,longitude,park_site_name,site_type
0,E 227 St/Bronx River Pkway,Bronx,40.890849,-73.864224,227th St. Plgd,Subproperty
1,Allerton Ave & Moshulu Pkway,Bronx,40.848891,-73.877128,Allerton Ballfields,Subproperty
2,Arthur Ave & 187 St,Bronx,40.855570,-73.887565,Arthur Ave & E 187 St,Outdoor
3,"895 Shore Road, Pelham Bay Park",Bronx,40.871864,-73.805549,Barstow Mansion,Outdoor
4,2001-2017 Bronx Park E,Bronx,40.851889,-73.868549,Bradley Playground,Subproperty

In [30]:
# 2015 Street Tree Census - Tree Data
tree_locations = 'https://data.cityofnewyork.us/resource/uvpi-gqnh.json'
tree_df = pd.read_json(tree_locations)
tree_df.head()

,address,bbl,bin,block_id,boro_ct,borocode,boroname,brch_light,brch_other,brch_shoe,cb_num,census_tract,cncldist,council_district,created_at,curb_loc,guards,health,latitude,longitude,nta,nta_name,problems,root_grate,root_other,root_stone,sidewalk,spc_common,spc_latin,st_assem,st_senate,state,status,steward,stump_diam,tree_dbh,tree_id,trnk_light,trnk_other,trunk_wire,user_type,x_sp,y_sp,zip_city,zipcode
0,108-005 70 AVENUE,4.022210e+09,4052307.0,348711,4073900,4,Queens,No,No,No,406,739.0,29,29.0,2015-08-27,OnCurb,None,Fair,40.723092,-73.844215,QN17,Forest Hills,None,No,No,No,NoDamage,red maple,Acer rubrum,28,16,New York,Alive,None,0,3,180683,No,No,No,TreesCount Staff,1027431.148,202756.7687,Forest Hills,11375
1,147-074 7 AVENUE,4.044750e+09,4101931.0,315986,4097300,4,Queens,No,No,No,407,973.0,19,19.0,2015-09-03,OnCurb,None,Fair,40.794111,-73.818679,QN49,Whitestone,Stones,No,No,Yes,Damage,pin oak,Quercus palustris,27,11,New York,Alive,None,0,21,200540,No,No,No,TreesCount Staff,1034455.701,228644.8374,Whitestone,11357
2,390 MORGAN AVENUE,3.028870e+09,3338310.0,218365,3044900,3,Brooklyn,No,No,No,301,449.0,34,34.0,2015-09-05,OnCurb,None,Good,40.717581,-73.936608,BK90,East Williamsburg,None,No,No,No,Damage,honeylocust,Gleditsia triacanthos var. inermis,50,18,New York,Alive,1or2,0,3,204026,No,No,No,Volunteer,1001822.831,200716.8913,Brooklyn,11211
3,1027 GRAND STREET,3.029250e+09,3338342.0,217969,3044900,3,Brooklyn,No,No,No,301,449.0,34,34.0,2015-09-05,OnCurb,None,Good,40.713537,-73.934456,BK90,East Williamsburg,Stones,No,No,Yes,Damage,honeylocust,Gleditsia triacanthos var. inermis,53,18,New York,Alive,None,0,10,204337,No,No,No,Volunteer,1002420.358,199244.2531,Brooklyn,11211
4,603 6 STREET,3.010850e+09,3025654.0,223043,3016500,3,Brooklyn,No,No,No,306,165.0,39,39.0,2015-08-30,OnCurb,None,Good,40.666778,-73.975979,BK37,Park Slope-Gowanus,Stones,No,No,Yes,Damage,American linden,Tilia americana,44,21,New York,Alive,None,0,21,189565,No,No,No,Volunteer,990913.775,182202.4260,Brooklyn,11215

In [31]:
pd.to_datetime(tree_df['created_at']).dt.year.unique()

array([2015], dtype=int64)

In [11]:
# NYC Urban Tree Canopy Assessment Metrics 2010
tree_canopy = ''
# No API link, have to download locally
## https://data.cityofnewyork.us/Environment/NYC-Urban-Tree-Canopy-Assessment-Metrics-2010/hnxz-kkn5

In [43]:
# Inventory of New York City Greenhouse Gas Emissions - City Government GHG Emissions Summary (2016)
greenhouse_gas = 'https://data.cityofnewyork.us/resource/jat2-irw9.json'
gas_df = pd.read_json(greenhouse_gas)
gas_df.head()

,change_from_2006_consumed,change_from_2006_source_mmbtu,change_from_2006_tco2e,change_from_2015_consumed,change_from_2015_source_mmbtu,change_from_2015_tco2e,fy_2006_consumed,fy_2006_source_mmbtu,fy_2006_tco2e,fy_2015_consumed,fy_2015_source_mmbtu,fy_2015_tco2e,fy_2016_consumed,fy_2016_source_mmbtu,fy_2016_tco2e,sector,source,units
0,-36%,-36%,-36%,-54%,-54%,-54%,"56,816,067","2,096,677","154,467","78,897,011","2,911,527","214,499","36,292,258","1,339,289","98,669",#2 fuel oil,Buildings,liter
1,50.50%,50.50%,50.50%,-29.40%,-29.40%,-29.40%,"32,426,496","1,263,786","94,482","69,193,895","2,696,754","201,613","48,817,617","1,902,611","142,242",#4 fuel oil,Buildings,liter
2,-99.80%,-99.80%,-99.80%,-98.20%,-98.20%,-98.20%,"75,041,558","3,011,422","225,248","9,042,569","362,879","27,143","161,657","6,487",485,#6 fuel oil,Buildings,liter
3,-,-,-,-46.70%,-46.70%,-46.70%,-,-,-,"8,391,778","286,528",102,"4,476,246","152,836",55,Biodiesel,Buildings,liter
4,2%,7%,-30%,-1%,-1%,0%,"3,199,648,988","29,041,147","1,209,240","3,295,468,753","31,266,734","846,999","3,259,637,704","30,926,776","848,782",Electricity,Buildings,kWh

In [48]:
# Inventory of New York City Greenhouse Gas Emissions - Fuel Emission Factors (2016)
fuel_emission = 'https://data.cityofnewyork.us/resource/9jf7-zn7b.json'
fuel_df = pd.read_json(fuel_emission)
fuel_df.head()

,greenhouse_gas_kg_unit_ch4,greenhouse_gas_kg_unit_co2_biogenic,greenhouse_gas_kg_unit_co2_fossil,greenhouse_gas_kg_unit_co2e,greenhouse_gas_kg_unit_n2o,source,type,unit
0,0.0050,NaN,50.2559,50.411,0.000100,Stationary,Natural gas (buildings),GJ
1,0.0010,NaN,50.2559,50.311,0.000100,Stationary,Natural gas (industrial),GJ
2,0.0004,NaN,2.7020,2.719,0.000022,Stationary,#2 fuel oil (buildings),liter
3,0.0001,NaN,2.7020,2.711,0.000022,Stationary,#2 fuel oil (industrial),liter
4,0.0004,NaN,2.8961,2.914,0.000023,Stationary,#4 fuel oil (buildings),liter

In [49]:
# Inventory of New York City Greenhouse Gas Emissions - Citywide GHG Emissions Summary (2016)
ghg_emissions = 'https://data.cityofnewyork.us/resource/k3e2-emsq.json'
ghge_df = pd.read_json(ghg_emissions)
ghge_df.head()

,change_from_2005_consumed,change_from_2005_source_mmbtu,change_from_2005_tco2e,change_from_2015_consumed,change_from_2015_source_mmbtu,change_from_2015_tco2e,cy_2005_consumed,cy_2005_source_mmbtu,cy_2005_tco2e,cy_2015_consumed,cy_2015_source_mmbtu,cy_2015_tco2e,cy_2016_consumed,cy_2016_source_mmbtu,cy_2016_tco2e,sector,source,source_type,units
0,26.7,26.7,26.7,9.5,9.5,9.5,"555,115,513","20,485,363","1,509,205",6.423717e+08,"23,705,369",1746430.0,7.032830e+08,"25,953,170",1912031.0,#2 fuel oil,Stationary Energy,Residential (small and large residential),liter
1,27.5,27.5,27.5,1.2,1.2,1.2,"294,735,132","11,486,968","858,782",3.712630e+08,"14,469,554",1081765.0,3.758097e+08,"14,646,758",1095013.0,#4 fuel oil,Stationary Energy,Residential (small and large residential),liters
2,-99.0,-99.0,-99.0,-85.1,-85.1,-85.1,"733,787,288","29,446,928","2,202,564",4.845719e+07,"1,944,590",145451.0,7.198342e+06,"288,870",21607.0,#6 fuel oil,Stationary Energy,Residential (small and large residential),liters
3,1941.1,1941.1,1941.1,61.0,61.0,61.0,"2,723,585","92,994",5,3.452740e+07,"1,178,900",59.0,5.559153e+07,"1,898,111",95.0,Biofuel,Stationary Energy,Residential (small and large residential),liters
4,9.0,11.0,-34.0,-2.0,0.1,0.0,"14,168,364,734","133,021,044","6,079,321",1.570186e+10,"148,976,038",4035680.0,1.544855e+10,"147,187,634",4022671.0,Electricity,Stationary Energy,Residential (small and large residential),kWh

In [42]:
# DSNY Graffitti Trafficking
graffitti = 'https://data.cityofnewyork.us/resource/gpwd-npar.json'
graf_df = pd.read_json(graffitti)
graf_df.head()

,:@computed_region_92fq_4b7q,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_sbqj_enih,:@computed_region_yeji_bk3q,bbl,bin,borough,census_tract,city_council_district,closed_date,community_board,created_date,incident_address,latitude,location,longitude,nta,police_precinct,resolution_action,status,x_coordinate,y_coordinate,zip_code
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRONX,NaN,NaN,NaN,Unspecified BRONX,2019-03-07T00:00:00.000,114 west 14th street,NaN,NaN,NaN,NaN,Unspecified,Property Research Required,Open,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRONX,NaN,NaN,NaN,Unspecified BRONX,2019-02-19T00:00:00.000,101 E 163 street,NaN,NaN,NaN,NaN,Unspecified,Property Research Required,Open,NaN,NaN,NaN
2,32.0,11723.0,70.0,2.0,4.0,NaN,NaN,MANHATTAN,18.0,1.0,NaN,03 MANHATTAN,2019-01-17T00:00:00.000,121N CHRYSTIE STREET,40.718864,"{'latitude': '40.718864', 'longitude': '-73.99...",-73.993474,Chinatown,Precinct 5,Property Research Required,Open,986059.0,201178.0,10002.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRONX,NaN,NaN,NaN,Unspecified BRONX,2019-01-07T00:00:00.000,792 ST NERI WAY,NaN,NaN,NaN,NaN,Unspecified,Property Research Required,Open,NaN,NaN,NaN
4,17.0,13516.0,55.0,46.0,2.0,NaN,NaN,BROOKLYN,301.0,NaN,NaN,Unspecified BROOKLYN,2018-12-18T00:00:00.000,146 rockaway ave,40.678114,"{'latitude': '40.678114', 'longitude': '-73.91...",-73.910780,Ocean Hill,Unspecified,Property Research Required,Open,NaN,NaN,11233.0

In [44]:
pd.to_datetime(graf_df['created_date']).dt.year.unique()

array([2019, 2018], dtype=int64)

In [45]:
# NYC Dog Licensing Data Set
dog_licensing = 'https://data.cityofnewyork.us/resource/nu7n-tubp.json'
dogL_df = pd.read_json(dog_licensing)
dogL_df.head()

,animalbirth,animalgender,animalname,breedname,extract_year,licenseexpireddate,licenseissueddate,rownumber,zipcode
0,2014,F,PAIGE,American Pit Bull Mix / Pit Bull Mix,2016,2017-09-12T00:00:00.000,2014-09-12T00:00:00.000,1,10035
1,2010,M,YOGI,Boxer,2016,2017-10-02T00:00:00.000,2014-09-12T00:00:00.000,2,10465
2,2014,M,ALI,Basenji,2016,2019-09-12T00:00:00.000,2014-09-12T00:00:00.000,3,10013
3,2013,F,QUEEN,Akita Crossbreed,2016,2017-09-12T00:00:00.000,2014-09-12T00:00:00.000,4,10013
4,2009,F,LOLA,Maltese,2016,2017-10-09T00:00:00.000,2014-09-12T00:00:00.000,5,10028

In [50]:
pd.to_datetime(dogL_df['licenseissueddate']).dt.year.unique()

array([2014], dtype=int64)

In [52]:
sorted(dogL_df['animalbirth'].unique())

[1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014]

In [22]:
# Historical Hourly Weather Data 2012-2017
# No link --> KAGGLE DOWNLOAD

In [53]:
# NYC Municipal Building Energy Benchmarking Results
municipal_benchmarks = 'https://data.cityofnewyork.us/resource/vvj6-d5qx.json'
munb_df = pd.read_json(municipal_benchmarks)
munb_df.head()

,address,agency,bin,block,borough,building,campus_name,city,current_source_energy_intensity_kbtu_sq_ft,current_total_ghg_emissions_mtco2e,epapmbenchmarkedas,gross_sq_ft,lot,rating,rating_2,source_energy_intensity_kbtu_sq_ft,state,total_ghg_emissions_mtco2e,year_built,zip
0,N/A,1332 Fulton Ave D C C Inc,2001505,2383,2,ACS,NaN,157.7,180.6,4.9,Individual building,164.8,12,N/A,N/A,155.9,4.3,4.3,4.5,NaN
1,59,ACS Administrative Site,1062652,93,1,ACS,NaN,228.3,239.0,6.2,Individual building,217.9,1,57,55,242.1,5.9,6.3,5.6,64.0
2,20,ACS Administrative Site,3098733,4484,3,ACS,NaN,258.6,286.6,8.6,Space within building,252.1,13,16,19,268.3,7.6,7.9,7.5,24.0
3,12,ACS Bronx Field Office,2044743,4101,2,ACS,NaN,273.0,316.2,8.9,Individual building,282.8,1,7,14,269.6,7.4,7.2,7.9,12.0
4,35,Administration Site,3057913,2022,3,ACS,NaN,257.9,313.6,9.8,Individual building,256.1,18,21,31,272.4,7.5,8.4,7.6,37.0

In [54]:
munb_df.shape

(1000, 20)

In [54]:
# NYC Municipal Building Energy Benchmarking Results (2014)
municipal_benchmarks_2014 = 'https://data.cityofnewyork.us/resource/hpid-63r5.json'
mb14_df = pd.read_json(municipal_benchmarks_2014)
mb14_df.head()

,_2010_ghg_emissions_intensity_kgco2e_ft,_2010_score,_2010source_eui_kbtu_ft,_2014_ghg_emissions_intensity_kgco2e_ft,_2014_score,_2014_source_eui_kbtu_ft,agency,bin,block,borough,building,lot
0,6.2,57,239,5.8,76,219.5,ACS,1001280,93,1,ACS Administrative Site (Leased),1
1,5.1,Not Available,162.5,5.3,Not Available,151,ACS,1004240,350,1,Escuela Hispana Montessori #2 (Leased),8
2,8.6,Not Available,289.4,9.6,Not Available,294.1,ACS,1007156,479,1,Chinese Community Concern Parents,1
3,7.5,Not Available,237.1,7.1,Not Available,220,ACS,1060189,2014,1,Lutheran Social Service of NY #11 (Leased),36
4,5.1,Not Available,193.6,5.5,Not Available,208.5,ACS,1060503,2032,1,Lutheran Social Service of NY #13 (Leased),17

In [55]:
# Air Quality Testing at Saratoga Village
saratoga_air = 'https://data.cityofnewyork.us/resource/dsyc-npkh.json'
sara_df = pd.read_json(saratoga_air)
sara_df.head()

,date,humidity1,humidity2,humidity3,observations1,observations2,observations3,sample_location,temp1_f,temp2_f,temp3_f,time1,time2,time3,vocs1_ppm,vocs2_ppm,vocs3_ppm
0,2018-09-07,NaN,NaN,NaN,NaN,NaN,NaN,Basement:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-09-07,NaN,NaN,NaN,NaN,NaN,NaN,Main area,NaN,NaN,NaN,NaN,NaN,NaN,<0.1,NaN,NaN
2,2018-09-07,NaN,NaN,NaN,NaN,NaN,NaN,Plaster shop,NaN,NaN,NaN,NaN,NaN,NaN,<0.1,NaN,NaN
3,2018-09-07,NaN,NaN,NaN,NaN,NaN,NaN,Compactor room,NaN,NaN,NaN,NaN,NaN,NaN,<0.1,NaN,NaN
4,2018-09-07,NaN,NaN,NaN,NaN,NaN,NaN,Storage room,NaN,NaN,NaN,NaN,NaN,NaN,<0.1,NaN,NaN

In [57]:
pd.to_datetime(sara_df['date']).dt.year.unique()

array([2018], dtype=int64)

In [72]:
sara_df.notna()

,date,humidity1,humidity2,humidity3,observations1,observations2,observations3,sample_location,temp1_f,temp2_f,temp3_f,time1,time2,time3,vocs1_ppm,vocs2_ppm,vocs3_ppm
0,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
2,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
3,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
4,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
5,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
6,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
7,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
8,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
9,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
10,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
11,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
12,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
13,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
14,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
15,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
16,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
17,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
18,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
19,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
20,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
21,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
22,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
23,True,False,False,False,True,True,True,True,False,False,False,False,False,False,False,False,False
24,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
25,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
26,True,True,True,True,False,False,False,True,True,True,True,False,False,False,True,True,True
27,True,True,False,False,False,True,True,True,True,False,False,False,False,False,True,False,False
28,True,True,False,False,False,True,True,True,True,False,False,False,False,False,True,False,False
29,True,True,True,True,False,False,False,True,True,True,True,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,True,True,True,False,False,False,False,True,True,True,False,False,True,False,True,True,False
235,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
236,True,True,True,True,False,False,True,True,True,True,True,True,True,True,True,True,True
237,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
238,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
239,True,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
240,True,True,True,True,False,False,True,True,True,True,True,True,True,True,True,True,True
241,True,True,True,False,False,False,False,True,True,True,False,False,True,False,True,True,False
242,True,True,True,False,True,True,False,True,True,False,False,True,True,True,True,True,False
243,True,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
244,True,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
245,True,True,True,True,True,False,False,True,True,True,True,True,True,True,True,True,True
246,True,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
247,True,False,True,False,True,True,False,True,True,False,False,True,True,True,True,True,False
248,True,True,True,True,False,False,True,True,True,True,True,True,True,True,True,True,True
249,True,True,True,True,True,False,False,True,True,True,True,True,True,True,True,True,True
250,True,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
251,True,True,True,True,False,False,True,True,True,True,True,True,True,True,True,True,True
252,True,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
253,True,True,True,True,False,False,True,True,True,True,True,True,True,True,True,True,True
254,True,False,True,False,True,True,False,True,True,False,False,True,True,True,True,True,False
255,True,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
256,True,True,True,False,False,False,False,True,True,True,False,False,True,False,True,True,False
257,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
258,True,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
259,True,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
260,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True
261,True,True,True,False,False,False,False,True,True,True,False,False,True,False,True,True,False
262,True,True,True,False,False,False,False,True,True,True,False,False,True,False,True,True,False
263,True,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True

In [59]:
# Air Quality
air_quality = 'https://data.cityofnewyork.us/resource/c3uy-2p5r.json'
airQ_df = pd.read_json(air_quality)
airQ_df.head()

,data_valuemessage,geo_entity_id,geo_entity_name,geo_type_name,indicator_data_id,indicator_id,measure,name,year_description
0,2.8,1,Bronx,Borough,130728,646,Average Concentration,Air Toxics Concentrations- Average Benzene Con...,2005
1,2.8,2,Brooklyn,Borough,130729,646,Average Concentration,Air Toxics Concentrations- Average Benzene Con...,2005
2,4.7,3,Manhattan,Borough,130730,646,Average Concentration,Air Toxics Concentrations- Average Benzene Con...,2005
3,1.9,4,Queens,Borough,130731,646,Average Concentration,Air Toxics Concentrations- Average Benzene Con...,2005
4,1.6,5,Staten Island,Borough,130732,646,Average Concentration,Air Toxics Concentrations- Average Benzene Con...,2005

In [61]:
(airQ_df['year_description']).unique()

array(['2005', '2013', 'Annual Average 2009-2010',
       '2-Year Winter Average 2009-2010', '2005-2007', '2009-2011'],
      dtype=object)

In [27]:
# Clean Air Survey Content (2009)
# NO LINK --> ZIP FILE

## Using Yearly Data to find Relationships of Trends

In [2]:
sets_string = '''
Water Consumption In The New York City
    1979 - 2018
    cons_df
Inventory of Greenhouse Gas Emissions Electricity Emission Factors 
    2005 - 2016
    gasyearly_df
Inventory of New York City Greenhouse Gas Emissions - Con Edison District Steam Emission Factors 
    2005 - 2016
    coned_df
Inventory of New York City Greenhouse Gas Emissions - Heating And Cooling Degree Days 
    2004 - 2016
    heatcool_df
DOHMH Indoor Environmental Complaints
    2010 - 2015
    incs_df
Community Health Survey
    2010 - 2014
    hel1_df
DOHMH Community Health Survey (2010-2016)
    2010 - 2016
    hel2_df
DSNY Monthly Tonnage Data
    1990 - 2019
    tons_df
'''

In [9]:
# Water Consumption In The New York City
water_consumption = 'https://data.cityofnewyork.us/resource/ia2d-e54m.json'
cons_df = pd.read_json(water_consumption)
cons_df.head()

,new_york_city_population,nyc_consumption_million_gallons_per_day,per_capita_gallons_per_person_per_day,year
0,7102100.0,1512.0,213,1979
1,7071639.0,1506.0,213,1980
2,7089241.0,1309.0,185,1981
3,7109105.0,1382.0,194,1982
4,7181224.0,1424.0,198,1983

In [10]:
# Inventory of Greenhouse Gas Emissions Electricity Emission Factors (2005-2016)
greenhouse_gas_yearly = 'https://data.cityofnewyork.us/resource/w5he-u64t.json'
gasyearly_df = pd.read_json(greenhouse_gas_yearly)
gasyearly_df.head()

   kgch4_mw  kgco2_mwh  kgco2e_mwh  kgn20_mwh  year
0    0.0086   428.1620    429.0771     0.0023  2005
1    0.0065   377.0922    377.9291     0.0023  2006
2    0.0068   378.8847    379.7286     0.0023  2007
3    0.0058   333.8455    334.5704     0.0019  2008
4    0.0054   301.1264    301.7056     0.0015  2009

In [11]:
# Inventory of New York City Greenhouse Gas Emissions - Con Edison District Steam Emission Factors (2005-2016)
greenhouse_con_ed = 'https://data.cityofnewyork.us/resource/ismp-xffj.json'
coned_df = pd.read_json(greenhouse_con_ed)
coned_df.head()

,mmbtu_metric_ton_of_steam,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_ch4,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_co2e,steam_emissions_factors_kg_per_metric_ton_delivered_to_buildings_n2o,year
0,2.1083,0.0025,102.7037,102.8749,0.0004,2012
1,2.1638,0.0025,104.8528,105.0162,0.0003,2013
2,2.2011,0.0023,107.0042,107.1492,0.0003,2015
3,2.3022,0.0024,110.6113,110.7578,0.0003,2014
4,2.1625,0.0023,116.3374,116.4710,0.0003,2016

In [12]:
# Inventory of New York City Greenhouse Gas Emissions - Heating And Cooling Degree Days (2004-2016) 
greenhouse_heating_cooling = 'https://data.cityofnewyork.us/resource/av3y-hmjv.json'
heatcool_df = pd.read_json(greenhouse_heating_cooling)
heatcool_df.head()

,calendar_year,calendar_year_annual_total,calendar_year_change_from_base_year,calendar_year_change_from_previous_year,fiscal_year,fiscal_year_annual_total,fiscal_year_change_from_base_year,fiscal_year_change_from_previous_year,heating_or_cooling_degree_days
0,2004,4787,n/a,n/a,2005.0,4713.0,n/a,n/a,Heating degree days
1,2005,4733,n/a,-1.1%,2006.0,4261.0,n/a,-9.6%,Heating degree days
2,2006,3987,-15.80%,-15.8%,2007.0,4460.0,4.70%,4.7%,Heating degree days
3,2007,4705,-0.60%,18%,2008.0,4470.0,4.90%,0.2%,Heating degree days
4,2008,4598,-2.90%,-2.3%,2009.0,4835.0,13.50%,8.2%,Heating degree days

In [13]:
# DOHMH Indoor Environmental Complaints
indoor_complaints = 'https://data.cityofnewyork.us/resource/9jgj-bmct.json'
incs_df = pd.read_json(indoor_complaints)
incs_df.head()

,bbl,bin,census_tract,community_board,complaint_number,complaint_status,complaint_type_311,council_district,date_received,deleted,descriptor_1_311,incident_address,incident_address_1,incident_address_2,incident_address_3,incident_address_4,latitude,longitude,nta
0,1.010650e+09,1077127.0,139.0,4.0,T-10-08-02-0019,05-Close,Indoor Air Quality,3.0,2010-08-02T09:59:36.000,No,Ventilation,424,WEST 56 STREET,424 WEST 56 STREET,10019.0,Manhattan,40.767618,-73.987123,Clinton
1,3.012410e+09,3031589.0,31701.0,8.0,T-11-08-13-0143,05-Close,Indoor Air Quality,36.0,2011-08-13T18:31:34.000,No,Ventilation,717B,NOSTRAND AVENUE,717B NOSTRAND AVENUE,11216.0,Brooklyn,40.672807,-73.950215,Crown Heights North
2,1.008820e+09,1018147.0,68.0,6.0,T-11-08-29-0303,05-Close,Asbestos,2.0,2011-08-29T21:29:37.000,No,N/A,160,EAST 27 STREET,160 EAST 27 STREET,10016.0,Manhattan,40.741512,-73.981711,Gramercy
3,4.026910e+09,4060006.0,531.0,5.0,T-11-10-16-0201,05-Close,Indoor Air Quality,30.0,2011-10-16T19:03:18.000,No,Other (Explain Below),59-20,56 DRIVE,59-20 56 DRIVE,11378.0,Queens,40.723938,-73.907941,Maspeth
4,1.013280e+09,1038575.0,108.0,6.0,T-11-11-01-0005,05-Close,Indoor Air Quality,4.0,2011-11-01T12:49:42.000,No,Other (Explain Below),245,EAST 54 STREET,245 EAST 54 STREET,10022.0,Manhattan,40.757896,-73.967893,Turtle Bay-East Midtown

In [14]:
sorted(pd.to_datetime(incs_df['date_received']).dt.year.unique())

[2010, 2011, 2012, 2013, 2014, 2015]

In [15]:
# Community Health Survey
health_survey = 'https://data.cityofnewyork.us/resource/2r9r-m6j4.json'
hel1_df = pd.read_json(health_survey)
hel1_df.head()

,lower95_ci,prevalence,question,survey,upper95_ci,year
0,82.0,83.3,Health Insurance Coverage,CHS,84.6,2010
1,82.0,83.3,Health Insurance Coverage,CHS,84.6,2010
2,9.4,10.3,Did not get needed medical care,CHS,11.4,2010
3,9.4,10.3,Did not get needed medical care,CHS,11.4,2010
4,n/a,n/a,No Personal Doctor,CHS,n/a,2010

In [16]:
# DOHMH Community Health Survey (2010-2016)
health_survey_2 = 'https://data.cityofnewyork.us/resource/csut-3wpr.json'
hel2_df = pd.read_json(health_survey_2)
hel2_df.head()

,prevelance,q_1,q_10,q_2,q_3,q_4,q_5,q_6,q_7,q_8,q_9,year
0,Prevalence,10.9,65.4,10.5,16.8,22.7,13.1,17.0,23.6,68.5,78.0,2016
1,Lower 95% C,10.0,62.4,9.7,15.7,21.5,12.2,15.9,22.5,66.5,76.8,2016
2,Upper 95% CI,11.8,68.3,11.5,17.9,23.9,14.1,18.1,24.9,70.4,79.1,2016
3,Prevalence,12.6,65.5,9.9,16.3,23.7,14.3,17.2,24.1,69.9,77.4,2015
4,Lower 95% C,11.7,62.7,9.1,15.2,22.5,13.3,16.1,23.0,68.1,76.3,2015

In [18]:
# DSNY Monthly Tonnage Data
tonnage_data = 'https://data.cityofnewyork.us/resource/ebb7-mvp5.json'
tons_df = pd.read_json(tonnage_data)
tons_df.head()

,borough,borough_id,communitydistrict,leavesorganictons,mgptonscollected,month,papertonscollected,refusetonscollected,resorganicstons,schoolorganictons,xmastreetons
0,Manhattan,1,1,NaN,34.40,1993 / 11,119.42,625.20,NaN,NaN,NaN
1,Manhattan,1,1,NaN,45.84,1995 / 09,117.24,633.10,NaN,NaN,NaN
2,Manhattan,1,1,NaN,35.55,1995 / 08,82.35,627.50,NaN,NaN,NaN
3,Manhattan,1,1,NaN,210.85,2012 / 03,341.57,1194.38,NaN,NaN,NaN
4,Manhattan,1,1,NaN,NaN,1992 / 03,NaN,726.00,NaN,NaN,NaN

In [19]:
parts = tons_df['month'].str.split(' / ')

years = []
for pair in parts:
    if pair[0] not in years:
        years.append(pair[0])